
/*boks1*/

.boks1{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.boks1 video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.indholdboks1{
    z-index: 1;
    position: relative;
    color: white;
}
.boks2div{
    background-color: #7B8855;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.boks2{
    text-align: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    display: flex;
    justify-content: center;

}

/*
.boks2 img{
    max-width: 100px;
    max-height: 200px;
    padding: 20px;
    
}
*/

.ikon{ 
    display: flex;
    width: 100%;
    align-items: center;
    height: 300px;
    justify-content: center;
    display:flex;  
    
}

.ikon img{
    width: 40%;
    padding: 10%;
    
}

.skrald img{
    width: 55%;
}

.mand img{
    width: 35%
}
/*.ikon img{
   max-width: 100px;
    max-height: 200px;
    padding: 10px; 
}*/

.boks3{
    background-color: #1D1E47;
    color: white;
    height: 100vh;
}
.quiz-boks{
    background-color: rgba(255, 255, 255, 0.50);
    color: white;
}
.padding-quiz{
    padding: 5%;
}

/*
.knap1{
    background-color: white;
}
*/

.add{
    border: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

.add iframe {
    width: 970px;
    height: 250px;
}
.boks5{
  background-color: #7B8855;   
}

/*Contact skema*/
.contact-h3{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
     color: white;
   
}

label, input, textarea{
    display: block;
    width: 300px;
    
}
textarea, input, button{
    background-color: rgba(255, 255, 255, 0.50);
    color: white;
}

.footer{
    display: flex;
    background-color: #7B8855;
    justify-content: center;
    
}
footer img{
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}


/*quiz*/



