

/*Contact skema*/
.contact-h3{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label, input, textarea{
    display: block;
    width: 300px;
}

video{
    height: 100vh;
}


