
*{
    margin: 0px;
    padding: 0px;
}


/*Contact skema*/
.contact-h3{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label, input, textarea{
    display: block;
    width: 300px;
}



/*Header*/

.box{
   width: 100%;
   height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content{
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}



